body {
   margin: 0px; padding: 0px;
   background-color: #404040;
   color: #c0c0c0;
   width: 600px;
   margin: auto;
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
      "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: normal;
}

.jumpchar {
	color: #ffff00;
}
.unsel {
	color: #000000;
	font-weight: 900;
}
.sel {
	color: #ff0000;
	font-weight: 900;
}
#nav {
	padding-top: 50px;
	padding-left: 20px;
}

#nav a {
	text-decoration: none;
	color: #ffffff;
}

#nav a:hover {
	color: #a2def9;
}

ul {
	text-decoration: none;
	list-style: none;
	color: white;
}

li {
	display: inline;
	padding-right: 30px;
}

