body {
   margin: 0px; padding: 0px;
   background-color: #404040;
   color: #c0c0c0;
   width: 600px;
   margin: auto;
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
      "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: normal;
}

.jumpchar {
	color: #ffff00;
}
.unsel {
	color: #88ff80;
	font-weight: 900;
}
.sel {
	color: #ff0000;
	font-weight: 900;
	background-color: #ffffff;
}
